.background404{
    background-color: $celesteoscuro;
}
.main404{
    padding-top: 300px;
    h1{
        font-family: 'Archivo Black', sans-serif;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 5rem;
    }
    p{
        font-family: 'Archivo Black', sans-serif;
        font-size: 2rem;
        
    }
    ul{
        margin-bottom: 100px;
    }
}