* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Kaushan Script', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(255, 255, 255);
  }