.logoname {
    color: $negro;
  }
  
  .menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbarimg {
    height: 10vh;
    width: auto;
  }
  
  .menu a {
    color: $negro;
    text-decoration: none;
    padding: 0.7rem;
  }
  
  .menu a:hover {
    background-color: $blanco;
    color: $violetamimoso;
    border-radius: 20px;
  }