$verdeclaro:rgb(166, 255, 0);
$rojochillon:rgb(255, 0, 128);
$rojocallado:rgb(204, 0, 102);
$naranjahermoso:rgb(255, 128, 0);
$grisopaco:rgb(69, 71, 75);
$celesteoscuro:rgb(131, 154, 156);
$celesteclaro:rgb(55, 113, 142);
$oscuro:rgb(50, 57, 61);