
.section-inicio {
    height: 100vh;
  }
  
  .background-inicio {
    @include background-flyer('../media/gym_media/encapuchado.jpg');
    h1,h3{
      @include font-flyer($verdeclaro)
    }
  }
  .btn-propio {
    color: $verdeclaro;
  &:hover {
    color: $verdeclaro;
  }
 }
 .background-inicio2{
  @include background-flyer('../media/gym_media/sedesbg.jpg');
    h1,h3{
      @include font-flyer($rojochillon)
  }
 }
 .btn-propio2{
  color: $rojochillon;
&:hover {
  color: $rojochillon;
}
}
.background-inicio3{
  @include background-flyer('../media/gym_media/nuestrosplanes.jpg');
    h1,h3{
      @include font-flyer($naranjahermoso)
  }
 }
 .btn-propio3{
  color: $naranjahermoso;
&:hover {
  color: $naranjahermoso;
}
}