.section-inicio {
    height: 100vh;
  }
  
  .background-inicio {
    background-image: url('../media/gym_media/encapuchado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .background-inicio h1,
  .background-inicio h3 {
    font-family: 'Archivo Black', 'Bebas Neue', sans-serif;
    color: rgb(166, 255, 0);
    margin: 0;
  }
  
  .btn-propio {
    color: rgb(166, 255, 0);
  &:hover {
    color: rgb(166, 255, 0);
  }
 }