$verdeclaro:rgb(166, 255, 0);
$rojochillon:rgb(255, 0, 128);
@mixin background-flyer($image){
    background-image: url($image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@mixin font-flyer($colorFlyer){
  font-family: 'Archivo Black', 'Bebas Neue', sans-serif;
  margin: 0;
  color: $colorFlyer;
}
.section-inicio {
    height: 100vh;
  }
  
  .background-inicio {
    @include background-flyer('../media/gym_media/encapuchado.jpg');
    h1,h3{
      @include font-flyer($verdeclaro)
    }
  }
  .btn-propio {
    color: $verdeclaro;
  &:hover {
    color: $verdeclaro;
  }
 }
 .background-inicio2{
  @include background-flyer('../media/gym_media/sedesbg.jpg');
    h1,h3{
      @include font-flyer($rojochillon)
  }
 }
 .btn-propio2{
  color: $rojochillon;
&:hover {
  color: $rojochillon;
}
}