  .textoFormulario {
    margin-bottom: 10rem;
  
    h2 {
      color: rgb(0, 0, 0);
      margin: 10px;
      font-weight: bold;
      font-size: 5rem;
    }
  
    p {
      display: flex;
      color: rgb(0, 0, 0);
      margin: 10px;
      font-size: 1.5rem;
    }
  }
  
  .formu {
    width: 400px;
    margin: 2rem auto;
    border: rgb(255, 196, 0) solid 5px;
  }
  